@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    overflow-y: hidden;
  }

  .hover-effect {
    cursor: pointer;
    position: relative;
  }

  .hover-effect:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    right: 0;
    background: #02ff67;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .hover-effect:hover:after {
    width: 100%;
    left: 0;
  }
}